.outline_btn {
    border-radius: 8px;
    height: 44px;
    background: #fff;
    padding: 10px 20px;
    border: 2px solid #DCDCE5;
}

.outline_btn:hover {
    background: #F4F4F4;
}


.profile_avatar {
    width: 160px;
    height: 160px;
    border: 1px solid #1211170F;
}