/* account */
.outline_btn {
    border-radius: 8px;
    height: 44px;
    background: #fff;
    padding: 10px 20px;
    border: 2px solid #DCDCE5;
}

.outline_btn:hover {
    background: #F4F4F4;
}


.profile_avatar {
    width: 160px;
    height: 160px;
    border: 1px solid #1211170F;
}

/* payment */
.white_box {
    border: 2px solid #DCDCE5;
    border-radius: 4px;
}

.blue_box {
    background: #D8F8F2;
}

.black_outline_btn {
    border: 2px solid #121117;
    border-radius: 8px;
    padding: 10px 12px;
    white-space: nowrap;
    cursor: pointer;
}

.black_outline_btn:hover:not(:disabled) {
    background: #F4F4F4;
}

.black_outline_btn:disabled {
    border: 2px solid #A8A8B6;
    /* Grey border */
    color: #6A697C !important;
    /* Text color (forced with !important) */
    background: #DCDCE5;
    /* Light grey background */
    cursor: not-allowed;
    /* Shows forbidden cursor */
}

/* subscriptions */

.three_dots:hover {
    background: #F4F4F4;
    border-radius: 4px;
}

.subscription_accordion_btn {
    height: 57px;
    border-bottom: 1px solid #DCDCE5;
    color: var(--primary) !important;
    border-radius: 0;
}

.subscription_accordion_btn:not(.collapsed) svg {
    transform: rotate(180deg);
}

/* payment history */
.payment_history_table {
    width: 100%;
    min-width: 900px;
    /* make table wider */
    /* border-collapse: collapse; */
}

.payment_history_table th,
.payment_history_table td {
    padding: 14px 0px;
    /* more spacing */
    text-align: left;
    white-space: nowrap;
    /* prevent text breaking */
    font-size: 14px;
}

.payment_history_table th {
    font-weight: 600;
    color: #6A697C;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
    /* horizontal scroll */
}


.payment_history_link {
    font-weight: 500;
    color: var(--primary);
    text-decoration: none;
}

.payment_history_link:hover {
    color: var(--accent);
}

tbody tr {
    border-block: 1px solid #DCDCE5;
}

/* lesson confirmation */
.auto_confirmation .checkbox {
    max-width: 100% !important;
    padding-inline: 0 !important;
}

.auto_confirmation .checkbox .form-check {
    padding: 0 !important;
    background: #fff !important;
    font-size: 16px;
    font-weight: 400;
    color: var(--primary);
}

.auto_confirmation .checkbox .form-check-input {
    height: 20px;
    min-width: 20px;
    width: 20px;
    margin: 6px 16px 0 0 !important;
    accent-color: #121117;
    cursor: pointer;
}
.auto_confirmation.calendar .checkbox .form-check label {
    align-items: center !important;
}
.auto_confirmation .checkbox .form-check label {
    align-items: start !important;
    cursor: pointer;
}

.auto_confirmation.calendar .checkbox .form-check-input {
    margin: 0px 16px 0 0 !important;
}
/* calendar*/

.muted_box {
    border: 2px solid #DCDCE5;
    border-radius: 8px;
    height: 48px;
    background: #fff;
    cursor: pointer;
}
button.muted_box:hover {
    background: #F4F4F4;
}

.form_section .account_select .custom-select {
    font-size: 16px !important;
}