<h3 class="heading mt-0 mb-3">Lesson autoconfirmation</h3>
<h3 class="prime_heading mt-0 mb-3 font-400">We automatically confirm your lessons so your tutor can get paid. Here's how the auconfirmation timing works:</h3>
<h3 class="prime_heading mb-3 font-400"><b class="font-600">Lessons completed in the Latingles classroom</b> are autoconfirmed 15 minutes after completion.</h3>
<h3 class="prime_heading mb-3 font-400"><b class="font-600">Lessons completed outside Latingles</b> are autoconfirmed 72 hours after the original scheduled end time.</h3>
<h3 class="prime_heading mt-4 font-400 mb-4">Choose your settings for lessons that take place outside Latingles:</h3>
