<div class="row mb-2 mx-n2 form_section"> 
    <div class="col-lg-6 px-2">
        <div class="lat-group-tutor-selector" data-open="false">
            <div class="lat-group-selector-trigger" role="button" aria-expanded="true" aria-haspopup="listbox">
                <div class="lat-group-selector-current gap-2">
                    <img src="http://localhost/courses/pluginfile.php/2459/user/icon/alpha/f1?rev=17478" alt="Adriana Adriana" class="lat-group-avatar-sm">
                    <span class="lat-group-tutor-name">Adriana</span>
                </div>
                <svg width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.18558 6.145C6.78607 6.45255 6.22956 6.45255 5.83004 6.145L0.434672 1.99164C-0.405868 1.34459 0.0517012 8.10542e-05 1.11245 8.11469e-05L11.9032 8.20903e-05C12.9639 8.2183e-05 13.4215 1.3446 12.581 1.99164L7.18558 6.145Z" fill="black"></path>
                </svg>
            </div>
                
            <div class="lat-group-selector-panel hidden mx-2" role="listbox">
                <div class="lat-group-selector-search">
                    <input type="text" placeholder="Enter Teacher name" class="lat-group-search-input shadow-none form-control" data-initial-value="">
                </div>
                <div class="lat-group-tutor-list">
                    <div class="lat-group-tutor-item selected" data-tutorid="1" role="option">
                        <img src="http://localhost/courses/pluginfile.php/2459/user/icon/alpha/f1?rev=17478" alt="Adriana Adriana" class="lat-group-avatar-sm">
                        <span>Edwards</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 px-2">
        <!-- Same structure for second selector -->
        <div class="lat-group-tutor-selector" data-open="false">
            <div class="lat-group-selector-trigger" role="button" aria-expanded="true" aria-haspopup="listbox">
                <div class="lat-group-selector-current gap-2">
                    <img src="http://localhost/courses/pluginfile.php/2459/user/icon/alpha/f1?rev=17478" alt="Adriana Adriana" class="lat-group-avatar-sm">
                    <span class="lat-group-tutor-name">Daniela</span>
                </div>
                <svg width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.18558 6.145C6.78607 6.45255 6.22956 6.45255 5.83004 6.145L0.434672 1.99164C-0.405868 1.34459 0.0517012 8.10542e-05 1.11245 8.11469e-05L11.9032 8.20903e-05C12.9639 8.2183e-05 13.4215 1.3446 12.581 1.99164L7.18558 6.145Z" fill="black"></path>
                </svg>
            </div>
                
            <div class="lat-group-selector-panel hidden mx-2" role="listbox">
                <div class="lat-group-selector-search">
                    <input type="text" placeholder="Enter Teacher name" class="lat-group-search-input shadow-none form-control" data-initial-value="">
                </div>
                <div class="lat-group-tutor-list">
                    <div class="lat-group-tutor-item selected" data-tutorid="1" role="option">
                        <img src="http://localhost/courses/pluginfile.php/2459/user/icon/alpha/f1?rev=17478" alt="Adriana Adriana" class="lat-group-avatar-sm">
                        <span>Daniela</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>