<div class="d-flex justify-content-between align-items-center mb-3">
<h3 class="heading mt-0"> Payment history</h3>
<button type="button" class="black_outline_btn small_heading d-flex align-items-center">Update billing info</button>
</div>

<div class="table-wrapper mx-n3">
<table class="payment_history_table w-100">
<thead>
<tr>
            <th>DATE</th>
            <th>CLASS TYPE</th>
            <th>SUBJECT</th>
            <th>TUTOR</th>
            <th>HOURS</th>
            <th>AMOUNT</th>
            <th>DOWNLOAD ALL</th>
          </tr>
</thead>
<tbody id="payment_history_body">

</tbody>
</table>

</div>