<h3 class="heading mb-3 mt-0">Manage your subscription</h3>
<div class="white_box p-4">
    <div class="d-flex align-items-center justify-content-between">
       <img src="./img/teacher_avatar.svg" width="64" height="64" alt="Teacher avatar">
        <div class="p-2 three_dots">
            <svg class="pointer" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3 10H7V14H3V10ZM10 10H14V14H10V10ZM21 10H17V14H21V10Z" fill="#121117"/>
            </svg>
            <div class="d-none sub_dropdown p-1">
                <div class="sub_option p-2 d-flex align-items-center">
                    <img src="./img/black-dollar.svg">
                    <p class="mb-0 ml-2 prime_heading font-400">Change your Plan</p>
                </div>
                <div class="sub_option p-2 d-flex align-items-center">
                    <img src="./img/black-loop.svg">
                    <p class="mb-0 ml-2 prime_heading font-400">Change renewal date</p>
                </div>
                <div class="sub_option p-2 d-flex align-items-center">
                    <img src="./img/black-wallet.svg">
                    <p class="mb-0 ml-2 prime_heading font-400">Add extra lessons</p>
                </div>
                <div class="sub_option p-2 d-flex align-items-center">
                    <img src="./img/black-loop.svg">
                    <p class="mb-0 ml-2 prime_heading font-400">Transfer lessons or subscription</p>
                </div>
                <div class="sub_option p-2 d-flex align-items-center">
                    <img src="./img/cancel.svg">
                    <p class="mb-0 ml-2 prime_heading font-400">Cancel Subscription</p>
                </div>
            </div>
        </div>
    </div>
    <p class="heading_tertiary mb-1 mt-3 font-500">Daniela</p>
    <p class="short_muted_light_text mb-1 mb-4 font-16">English | 20 lessons - $119.60 every 4 weeks</p>
    <hr>
    <p class="prime_heading mt-24 mb-0 ">Renews in 14 days (Jan 30, 2025) | 1 lesson left</p>
</div>

<div class="white_box p-4 mt-3">
    <div class="d-flex align-items-center justify-content-between">
       <img src="./img/teacher_avatar.svg" width="64" height="64" alt="Teacher avatar">
        <div class="p-2 three_dots">
            <svg class="pointer" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3 10H7V14H3V10ZM10 10H14V14H10V10ZM21 10H17V14H21V10Z" fill="#121117"/>
            </svg>
        </div>
    </div>
    <p class="heading_tertiary mb-1 mt-3 font-500">Annette</p>
    <p class="prime_heading mt-24 mb-0 "><span class="short_muted_light_text font-16">English | </span>Subscription Cancelled</p>
</div>

<h3 class="heading_tertiary mb-3 mt-5">How subscription works</h3>

  <button type="button" class="btn text-left p-0 w-100 subscription_accordion_btn font-500 prime_heading d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapse1">
    Balance refills and billing
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12 16L6 10.39L7.487 9L12 13.22L16.513 9L18 10.39L12 16Z" fill="#121117"/>
</svg>

  </button>

<div class="collapse" id="collapse1">
  <div class="card card-body small_heading font-400 mt-3">
    Every 28 days we’ll refill your account with lessons as per your chosen plan. For example, if you chose a 2 lessons/week subscription plan, you’ll get 8 lessons automatically added every 4 weeks.
<br><br>
You'll be charged automatically using your saved payment method. You can always check or change your payment methods in your payment settings.</div>
</div>

<button type="button" class="btn text-left p-0 w-100 subscription_accordion_btn font-500 prime_heading d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapse2">
    Lesson scheduling
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
     <path fill-rule="evenodd" clip-rule="evenodd" d="M12 16L6 10.39L7.487 9L12 13.22L16.513 9L18 10.39L12 16Z" fill="#121117"/>
    </svg>
</button>

<div class="collapse mt-3" id="collapse2">Once lessons are added to your balance, you can schedule sessions directly with your tutor or join available group sessions based on your level and availability.<br><br>
Simply choose a time slot from the calendar and confirm your booking.</div>

<button type="button" class="btn text-left p-0 w-100 subscription_accordion_btn font-500 prime_heading d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapse3">
   Cancellation and refunds
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
     <path fill-rule="evenodd" clip-rule="evenodd" d="M12 16L6 10.39L7.487 9L12 13.22L16.513 9L18 10.39L12 16Z" fill="#121117"/>
    </svg>
</button>

<div class="collapse mt-3" id="collapse3">
If you need to cancel a scheduled lesson, make sure to do it before the cancellation deadline to avoid losing the lesson credit.<br><br>

Lessons canceled within the allowed time will be returned to your balance and can be used to book another session. Refund eligibility may depend on your subscription plan and payment method.
<br><br>
For specific refund requests, please contact our support team.
</div>


<button type="button" class="btn text-left p-0 w-100 subscription_accordion_btn font-500 prime_heading d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapse4">
   Upgrading and downgrading your plan
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
     <path fill-rule="evenodd" clip-rule="evenodd" d="M12 16L6 10.39L7.487 9L12 13.22L16.513 9L18 10.39L12 16Z" fill="#121117"/>
    </svg>
</button>

<div class="collapse mt-3" id="collapse4">
You can upgrade or downgrade your subscription plan at any time.<br><br>

Upgrading your plan will increase the number of lessons added to your balance in the next billing cycle. Downgrading will adjust the number of lessons added in future renewals.
<br><br>
Changes to your plan typically take effect at the start of the next billing period.
</div>

<button type="button" class="btn text-left p-0 w-100 subscription_accordion_btn font-500 prime_heading d-flex align-items-center justify-content-between" data-toggle="collapse" 
data-target="#collapse5">
   Changing your renewal date
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
     <path fill-rule="evenodd" clip-rule="evenodd" d="M12 16L6 10.39L7.487 9L12 13.22L16.513 9L18 10.39L12 16Z" fill="#121117"/>
    </svg>
</button>

<div class="collapse mt-3" id="collapse5">
Your subscription renews automatically every 4 weeks based on your original billing date.
<br><br>
If you need to adjust your renewal timing, you may be able to change your billing cycle depending on your plan and lesson balance.
<br><br>
Any changes will apply to the next billing period. For assistance with modifying your renewal date, contact support.
</div>

<button type="button" class="btn text-left p-0 w-100 subscription_accordion_btn font-500 prime_heading d-flex align-items-center justify-content-between" data-toggle="collapse" 
data-target="#collapse6">
   Transferring your balance and subscription to a new tutor
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
     <path fill-rule="evenodd" clip-rule="evenodd" d="M12 16L6 10.39L7.487 9L12 13.22L16.513 9L18 10.39L12 16Z" fill="#121117"/>
    </svg>
</button>

<div class="collapse mt-3" id="collapse6">
If you decide to switch tutors, your remaining lesson balance can usually be transferred to another tutor who offers the same lesson format or subject.
<br><br>
This allows you to continue learning without losing unused lessons. Simply choose a new tutor and continue scheduling sessions using your existing balance.
<br><br>
If you need help transferring your subscription, our support team will assist you.
</div>