<aside>
    <nav aria-label="Profile Sections" class="space-y-1">
        <a href="#about" data-tab="about" class="group_profile_tablink group_profile_sidebar_item group_profile_active">About</a>
        <a href="#photo" data-tab="photo" class="group_profile_tablink group_profile_sidebar_item">Password</a>
        <a href="#description" data-tab="description" class="group_profile_tablink group_profile_sidebar_item">Email</a>
        <a href="#video" data-tab="video" class="group_profile_tablink group_profile_sidebar_item">Payment methods</a>
        <a href="#badges" data-tab="badges" class="group_profile_tablink group_profile_sidebar_item">Subscription</a>
        <a href="#pricing" data-tab="pricing" class="group_profile_tablink group_profile_sidebar_item">Payment history</a>
        <a href="#logistics" data-tab="logistics" class="group_profile_tablink group_profile_sidebar_item">Auto Confirmation</a>
        <a href="#logistics" data-tab="logistics" class="group_profile_tablink group_profile_sidebar_item">Calendar</a>
        <a href="#logistics" data-tab="logistics" class="group_profile_tablink group_profile_sidebar_item">Notifications</a>
        <a href="#logistics" data-tab="logistics" class="group_profile_tablink group_profile_sidebar_item">Delete Account</a>
    </nav>
</aside>
