<aside>
    <nav aria-label="Profile Sections" class="space-y-1">
        <a href="#about" data-tab="about" class="student_profile_tablink student_profile_sidebar_item student_profile_active">About</a>
        <a href="#password" data-tab="password" class="student_profile_tablink student_profile_sidebar_item">Password</a>
        <a href="#email" data-tab="email" class="student_profile_tablink student_profile_sidebar_item">Email</a>
        <a href="#video" data-tab="video" class="student_profile_tablink student_profile_sidebar_item">Payment methods</a>
        <a href="#badges" data-tab="badges" class="student_profile_tablink student_profile_sidebar_item">Subscription</a>
        <a href="#pricing" data-tab="pricing" class="student_profile_tablink student_profile_sidebar_item">Payment history</a>
        <a href="#logistics" data-tab="logistics" class="student_profile_tablink student_profile_sidebar_item">Auto Confirmation</a>
        <a href="#logistics" data-tab="logistics" class="student_profile_tablink student_profile_sidebar_item">Calendar</a>
        <a href="#logistics" data-tab="logistics" class="student_profile_tablink student_profile_sidebar_item">Notifications</a>
        <a href="#logistics" data-tab="logistics" class="student_profile_tablink student_profile_sidebar_item">Delete Account</a>
    </nav>
</aside>
