<aside>
    <nav aria-label="Profile Sections" class="d-flex flex-column">
        <a href="#account" data-tab="account" class="student_profile_tablink student_profile_sidebar_item mt-1 student_profile_active">Account</a>
        <a href="#password" data-tab="password" class="student_profile_tablink student_profile_sidebar_item mt-1">Password</a>
        <a href="#email" data-tab="email" class="student_profile_tablink student_profile_sidebar_item mt-1">Email</a>
        <a href="#payment" data-tab="payment" class="student_profile_tablink student_profile_sidebar_item mt-1">Payment methods</a>
        <a href="#subscriptions" data-tab="subscriptions" class="student_profile_tablink student_profile_sidebar_item mt-1">Subscription</a>
        <a href="#paymenthistory" data-tab="paymenthistory" class="student_profile_tablink student_profile_sidebar_item mt-1">Payment history</a>
        <a href="#autoconfirmation" data-tab="autoconfirmation" class="student_profile_tablink student_profile_sidebar_item mt-1">Auto Confirmation</a>
        <a href="#calendar" data-tab="calendar" class="student_profile_tablink student_profile_sidebar_item mt-1">Calendar</a>
        <a href="#notifications" data-tab="notifications" class="student_profile_tablink student_profile_sidebar_item mt-1">Notifications</a>
        <a href="#deleteAccount" data-tab="deleteAccount" class="student_profile_tablink student_profile_sidebar_item mt-1">Delete Account</a>
    </nav>
</aside>
