<div class="max-1420 mx-auto">
    <div class="row student_setting_page">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <button class="student_accordion_trigger w-100 d-flex justify-content-between align-items-center p-4"
                        type="button" data-toggle="collapse" data-target="#student_profile_setting_details"
                        aria-expanded="false" aria-controls="collapseExample">
                        <h2 class="heading_medium font-600 mb-0 mt-0">Student Profile Setting</h2>
                        <svg class="rotate_180" width="18" height="10" viewBox="0 0 18 10" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9.34669 0.333606C9.1531 0.147323 8.8469 0.147323 8.65331 0.333605L2.09981 6.63972C1.77548 6.95181 1.99639 7.50001 2.4465 7.50001L15.5535 7.50001C16.0036 7.50001 16.2245 6.95181 15.9002 6.63972L9.34669 0.333606Z"
                                fill="black"></path>
                        </svg>
                    </button>
                    <div class="collapse student_setting_details mt-3 p-3" id="student_profile_setting_details">
                        <div class="" data-tutorid="1">
                            <div class="row">
                                <div class="col-lg-3">
                                    <!-- LEFT -->
                                    {{> local_lat_studentsettings/left}}
                                </div>

                                <div class="col-lg-7" style="margin-left: 4%;">
                                    <!-- CENTER -->
                                   {{> local_lat_studentsettings/center}}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-12 mt-3">
                    <button class="student_accordion_trigger w-100 d-flex justify-content-between align-items-center p-4 collapsed"
                        type="button" data-toggle="collapse" data-target="#student_profile_overview"
                        aria-expanded="false" aria-controls="collapseExample">
                        <h2 class="heading_medium font-600 mb-0 mt-0">Student Profile Overview</h2>
                        <svg class="rotate_180" width="18" height="10" viewBox="0 0 18 10" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9.34669 0.333606C9.1531 0.147323 8.8469 0.147323 8.65331 0.333605L2.09981 6.63972C1.77548 6.95181 1.99639 7.50001 2.4465 7.50001L15.5535 7.50001C16.0036 7.50001 16.2245 6.95181 15.9002 6.63972L9.34669 0.333606Z"
                                fill="black"></path>
                        </svg>
                    </button>
                    <div class="collapse show  mt-3 " id="student_profile_overview">
                        <div class="" data-tutorid="1">
                                <!-- LEFT -->
                                {{> local_lat_studentsettings/student_profile_overview}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-md-4">
            <!-- RIGHT (Admin version) -->
           {{> local_lat_studentsettings/right}}
        </div>

    </div>
</div>