{{! <aside class="group-settings-right p-3">
    <div class="group-settings-card p-3">
        <div class="group-selector" id="group-selector">
            <div class="group-selector-trigger" id="group-selector-trigger" role="button" aria-expanded="false"
                aria-haspopup="listbox">
                <div class="d-flex align-items-center">

                    <div class="mr-2 city-badge d-flex align-items-center justify-content-center flex-column">
                        <p class="heading mb-0 badge-c1">FL1</p>
                        <p class="subheading mb-0 badge-c1">Florida 1</p>
                    </div>
                    <span class="group-name">Florida 1</span>
                </div>
                <svg width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M7.18558 6.145C6.78607 6.45255 6.22956 6.45255 5.83004 6.145L0.434672 1.99164C-0.405868 1.34459 0.0517012 8.10542e-05 1.11245 8.11469e-05L11.9032 8.20903e-05C12.9639 8.2183e-05 13.4215 1.3446 12.581 1.99164L7.18558 6.145Z"
                        fill="black"></path>
                </svg>
            </div>

            <div class="group-selector-panel hidden" id="group-selector-panel" role="listbox">
                <div class="group-selector-search">
                    <input type="text" placeholder="Entre Group Name" id="" class="group-search-input">
                </div>
                <div class="group-list px-0">

                    <div class="row mx-3 header">
                        <div class="col-lg-6 p-3">Group ID</div>
                        <div class="col-lg-6 p-3">Group Name</div>
                    </div>
                    <div class="row mx-3 body align-items-center">
                        <div class="col-lg-6 p-3">FL-1-030423-0090</div>
                        <div class="col-lg-6 p-3 d-flex align-items-center">
                            <div class="mr-2 city-badge d-flex align-items-center justify-content-center flex-column">
                                <p class="heading mb-0 badge-c1">FL1</p>
                                <p class="subheading mb-0 badge-c1">Florida 1</p>
                            </div>
                            <span>Flordia 1</span>
                        </div>
                    </div>
                    <div class="row mx-3 body align-items-center">
                        <div class="col-lg-6 p-3">OH-12-032023-0089</div>
                        <div class="col-lg-6 p-3 d-flex align-items-center">
                            <div class="mr-2 city-badge d-flex align-items-center justify-content-center flex-column">
                                <p class="heading mb-0 badge-c2">NY2</p>
                                <p class="subheading mb-0 badge-c2">Newyork 2</p>
                            </div>
                            <span>Newyork 2</span>
                        </div>
                    </div>
                    <div class="row mx-3 body align-items-center">
                        <div class="col-lg-6 p-3">NY-2-042522-0088</div>
                        <div class="col-lg-6 p-3 d-flex align-items-center">
                            <div class="mr-2 city-badge d-flex align-items-center justify-content-center flex-column">
                                <p class="heading mb-0 badge-c2">TX1</p>
                                <p class="subheading mb-0 badge-c2">Texas 1</p>
                            </div>
                            <span>Texas 1</span>
                        </div>
                    </div>
                    <div class="row mx-3 body align-items-center">
                        <div class="col-lg-6 p-3">NY-2-042522-0088</div>
                        <div class="col-lg-6 p-3 d-flex align-items-center">
                            <div class="mr-2 city-badge d-flex align-items-center justify-content-center flex-column">
                                <p class="heading mb-0 badge-c1">FL1</p>
                                <p class="subheading mb-0 badge-c1">Florida 1</p>
                            </div>
                            <span>Flordia 1</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="group-settings-card rounded-2xl border p-3">
        <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 12px;">
            <h3 class="heading_medium mb-0 font-600">Contact Information</h3>
            <p class="mb-0 small_heading pointer hoverable_accent">Edit More</p>
        </div>
        <div class="group-info-row mb-2 mt-3">
            <div class="w-100">
                <div class="prime_heading mb-1">Group Name</div>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="short_muted_text">Flordia 1</span>
                </div>
            </div>
            <button type="button" class="group-edit-btn" data-field="name" aria-label="Edit name">
                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15.798 0.585573C15.4229 0.210631 14.9143 0 14.384 0C13.8537 0 13.3451 0.210631 12.97 0.585573L11.325 2.23157L16.628 7.53457L18.273 5.89057C18.4588 5.70484 18.6062 5.48433 18.7068 5.24163C18.8073 4.99892 18.8591 4.73878 18.8591 4.47607C18.8591 4.21336 18.8073 3.95322 18.7068 3.71052C18.6062 3.46781 18.4588 3.2473 18.273 3.06157L15.798 0.585573ZM15.214 8.94857L9.911 3.64557L1.076 12.4806L0 18.8606L6.38 17.7836L15.214 8.94857Z"
                        fill="black"></path>
                </svg>
            </button>
        </div>

        <div class="group-info-row mb-2">
            <div class="w-100">
                <div class="prime_heading mb-1">Cohort ID</div>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="short_muted_text">FL-1-030423-0090</span>
                </div>
            </div>
            <button type="button" class="group-edit-btn" data-field="phone" aria-label="Edit phone">
                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15.798 0.585573C15.4229 0.210631 14.9143 0 14.384 0C13.8537 0 13.3451 0.210631 12.97 0.585573L11.325 2.23157L16.628 7.53457L18.273 5.89057C18.4588 5.70484 18.6062 5.48433 18.7068 5.24163C18.8073 4.99892 18.8591 4.73878 18.8591 4.47607C18.8591 4.21336 18.8073 3.95322 18.7068 3.71052C18.6062 3.46781 18.4588 3.2473 18.273 3.06157L15.798 0.585573ZM15.214 8.94857L9.911 3.64557L1.076 12.4806L0 18.8606L6.38 17.7836L15.214 8.94857Z"
                        fill="black"></path>
                </svg>
            </button>
        </div>

        <div class="group-info-row mb-2">
            <div class="w-100">
                <div class="prime_heading mb-1">Max Students</div>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="short_muted_text">10</span>
                </div>
            </div>
            <button type="button" class="group-edit-btn" data-field="country" aria-label="Edit country">
                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15.798 0.585573C15.4229 0.210631 14.9143 0 14.384 0C13.8537 0 13.3451 0.210631 12.97 0.585573L11.325 2.23157L16.628 7.53457L18.273 5.89057C18.4588 5.70484 18.6062 5.48433 18.7068 5.24163C18.8073 4.99892 18.8591 4.73878 18.8591 4.47607C18.8591 4.21336 18.8073 3.95322 18.7068 3.71052C18.6062 3.46781 18.4588 3.2473 18.273 3.06157L15.798 0.585573ZM15.214 8.94857L9.911 3.64557L1.076 12.4806L0 18.8606L6.38 17.7836L15.214 8.94857Z"
                        fill="black"></path>
                </svg>
            </button>
        </div>

        <div class="group-info-row mb-2">
            <div class="w-100">
                <div class="prime_heading mb-1">Timezone</div>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="short_muted_text">America/New_York</span>
                </div>
            </div>
            <button type="button" class="group-edit-btn" data-field="timezone" aria-label="Edit timezone">
                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15.798 0.585573C15.4229 0.210631 14.9143 0 14.384 0C13.8537 0 13.3451 0.210631 12.97 0.585573L11.325 2.23157L16.628 7.53457L18.273 5.89057C18.4588 5.70484 18.6062 5.48433 18.7068 5.24163C18.8073 4.99892 18.8591 4.73878 18.8591 4.47607C18.8591 4.21336 18.8073 3.95322 18.7068 3.71052C18.6062 3.46781 18.4588 3.2473 18.273 3.06157L15.798 0.585573ZM15.214 8.94857L9.911 3.64557L1.076 12.4806L0 18.8606L6.38 17.7836L15.214 8.94857Z"
                        fill="black"></path>
                </svg>
            </button>
        </div>
    </div>
</aside>
}}