<div class="row mx-n2 tabs_container">
    <div class="col-lg-7 px-2">
        <div class="p-3 tab_box h-100">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="heading_medium my-0 font-600">Results</h3>
                <ul class="nav nav-tabs nav-fill">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#exam">Exam</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#quiz">Quiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#homework">Homework</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content mt-4">
                <div id="exam" class="tab-pane fade show active">
                    <button class="white_pad w-100 d-flex justify-content-between align-items-center px-3"
                        type="button" data-toggle="collapse" data-target="#examt1"
                        aria-expanded="false" aria-controls="collapseExample">
                        <h2 class="prime_heading font-600 my-0">A1-Level 1</h2>
                        <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.78125 6.09375L0.210938 1.54688C0 1.3125 0 0.960938 0.210938 0.75L0.75 0.210938C0.960938 0 1.3125 0 1.54688 0.210938L5.17969 3.82031L8.78906 0.210938C9.02344 0 9.375 0 9.58594 0.210938L10.125 0.75C10.3359 0.960938 10.3359 1.3125 10.125 1.54688L5.55469 6.09375C5.34375 6.30469 4.99219 6.30469 4.78125 6.09375Z" fill="#6A7287"/>
                        </svg>
                    </button>
                    <div class="w-100 collapse mt-2" id="examt1">exam1</div>
                     <button class="white_pad w-100 d-flex justify-content-between align-items-center px-3 mt-2"
                        type="button" data-toggle="collapse" data-target="#examt2"
                        aria-expanded="false" aria-controls="collapseExample">
                        <h2 class="prime_heading font-600 my-0">A1-Level 2</h2>
                        <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.78125 6.09375L0.210938 1.54688C0 1.3125 0 0.960938 0.210938 0.75L0.75 0.210938C0.960938 0 1.3125 0 1.54688 0.210938L5.17969 3.82031L8.78906 0.210938C9.02344 0 9.375 0 9.58594 0.210938L10.125 0.75C10.3359 0.960938 10.3359 1.3125 10.125 1.54688L5.55469 6.09375C5.34375 6.30469 4.99219 6.30469 4.78125 6.09375Z" fill="#6A7287"/>
                        </svg>
                    </button>
                    <div class="w-100 collapse mt-2" id="examt2">examt2</div>
                     <button class="white_pad w-100 d-flex justify-content-between align-items-center px-3 mt-2"
                        type="button" data-toggle="collapse" data-target="#examt3"
                        aria-expanded="false" aria-controls="collapseExample">
                        <h2 class="prime_heading font-600 my-0">A2-Level 3</h2>
                        <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.78125 6.09375L0.210938 1.54688C0 1.3125 0 0.960938 0.210938 0.75L0.75 0.210938C0.960938 0 1.3125 0 1.54688 0.210938L5.17969 3.82031L8.78906 0.210938C9.02344 0 9.375 0 9.58594 0.210938L10.125 0.75C10.3359 0.960938 10.3359 1.3125 10.125 1.54688L5.55469 6.09375C5.34375 6.30469 4.99219 6.30469 4.78125 6.09375Z" fill="#6A7287"/>
                        </svg>
                    </button>
                    <div class="w-100 collapse mt-2" id="examt3">examt3</div>
                     <button class="white_pad w-100 d-flex justify-content-between align-items-center px-3 mt-2"
                        type="button" data-toggle="collapse" data-target="#examt4"
                        aria-expanded="false" aria-controls="collapseExample">
                        <h2 class="prime_heading font-600 my-0">A2-Level 4</h2>
                        <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.78125 6.09375L0.210938 1.54688C0 1.3125 0 0.960938 0.210938 0.75L0.75 0.210938C0.960938 0 1.3125 0 1.54688 0.210938L5.17969 3.82031L8.78906 0.210938C9.02344 0 9.375 0 9.58594 0.210938L10.125 0.75C10.3359 0.960938 10.3359 1.3125 10.125 1.54688L5.55469 6.09375C5.34375 6.30469 4.99219 6.30469 4.78125 6.09375Z" fill="#6A7287"/>
                        </svg>
                    </button>
                    <div class="w-100 collapse mt-2" id="examt4">exam1</div>
                     <button class="white_pad w-100 d-flex justify-content-between align-items-center px-3 mt-2"
                        type="button" data-toggle="collapse" data-target="#examt5"
                        aria-expanded="false" aria-controls="collapseExample">
                        <h2 class="prime_heading font-600 my-0">B1-Level 5</h2>
                        <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.78125 6.09375L0.210938 1.54688C0 1.3125 0 0.960938 0.210938 0.75L0.75 0.210938C0.960938 0 1.3125 0 1.54688 0.210938L5.17969 3.82031L8.78906 0.210938C9.02344 0 9.375 0 9.58594 0.210938L10.125 0.75C10.3359 0.960938 10.3359 1.3125 10.125 1.54688L5.55469 6.09375C5.34375 6.30469 4.99219 6.30469 4.78125 6.09375Z" fill="#6A7287"/>
                        </svg>
                    </button>
                    <div class="w-100 collapse mt-2" id="examt5">examt5</div>
                </div>
                <div id="quiz" class="tab-pane fade">
                    <h4>Menu 1</h4>
                    <p>Menu 1 content...</p>
                </div>
                <div id="homework" class="tab-pane fade">
                    <h4>Menu 2</h4>
                    <p>Menu 2 content...</p>
                </div>
            </div>
        </div>
    </div>

     <div class="col-lg-5 px-2">
        <div class="p-3 tab_box h-100">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="heading_medium mb-1 mt-2 font-600">Payment History</h3>
                <ul class="nav nav-tabs nav-fill invisible">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="" href="#">Exam</a>
                    </li>
                </ul>
            </div>
            <div class="white_pad mt-4 px-2">
                <div class="h-100 d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img src="./img/lat_logo.svg">
                        <p class="my-0 ml-1 small_heading font-500">December 08, 2024</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="my-0 mr-2 prime_heading font-500">$3</p>
                        <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle opacity="0.5" cx="2" cy="2" r="2" fill="black"/>
                        </svg>
                        <p class="my-0 ml-2 small_heading font-500 green_label">Success</p>
                    </div>
                </div>
            </div>
             <div class="white_pad mt-2 px-2">
                <div class="h-100 d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img src="./img/lat_logo.svg">
                        <p class="my-0 ml-1 small_heading font-500">November 08, 2024</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="my-0 mr-2 prime_heading font-500">$3</p>
                        <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle opacity="0.5" cx="2" cy="2" r="2" fill="black"/>
                        </svg>
                        <p class="my-0 ml-2 small_heading font-500 green_label">Success</p>
                    </div>
                </div>
            </div>
             <div class="white_pad mt-2 px-2">
                <div class="h-100 d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img src="./img/lat_logo.svg">
                        <p class="my-0 ml-1 small_heading font-500">October 08, 2024</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="my-0 mr-2 prime_heading font-500">$3</p>
                        <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle opacity="0.5" cx="2" cy="2" r="2" fill="black"/>
                        </svg>
                        <p class="my-0 ml-2 small_heading font-500 green_label">Success</p>
                    </div>
                </div>
            </div>
             <div class="white_pad mt-2 px-2">
                <div class="h-100 d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img src="./img/lat_logo.svg">
                        <p class="my-0 ml-1 small_heading font-500">September 08, 2024</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="my-0 mr-2 prime_heading font-500">$3</p>
                        <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle opacity="0.5" cx="2" cy="2" r="2" fill="black"/>
                        </svg>
                        <p class="my-0 ml-2 small_heading font-500 green_label">Success</p>
                    </div>
                </div>
            </div>
             <div class="white_pad mt-2 px-2">
                <div class="h-100 d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img src="./img/lat_logo.svg">
                        <p class="my-0 ml-1 small_heading font-500">September 08, 2024</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="my-0 mr-2 prime_heading font-500">$3</p>
                        <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle opacity="0.5" cx="2" cy="2" r="2" fill="black"/>
                        </svg>
                        <p class="my-0 ml-2 small_heading font-500 green_label">Success</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row mx-n2 tabs_container mt-3">
    <div class="col-lg-5 px-2">
        <div class="p-3 tab_box h-100">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="heading_medium mb-1 mt-2 font-600">History Cohorts</h3>
                <ul class="nav nav-tabs nav-fill invisible">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="" href="#">Exam</a>
                    </li>
                </ul>
            </div>
            <div class="white_pad mt-4 px-2">
                <div class="h-100 d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <div class="badgeCohort mr-1 purple flex-column d-flex align-items-center justify-content-center">
                            <p class="title mb-0">B2</p>
                            <p class="text mb-0">Lvl-7</p>
                        </div>
                        <p class="my-0 ml-1 small_heading font-500">CA8  -071222 -007</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="my-0 ml-2 small_heading font-500 green_label">01/11/24 - Present</p>
                    </div>
                </div>
            </div>
             <div class="white_pad mt-2 px-2">
                <div class="h-100 d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <div class="badgeCohort mr-1 green flex-column d-flex align-items-center justify-content-center">
                            <p class="title mb-0">B2</p>
                            <p class="text mb-0">Lvl-7</p>
                        </div>
                        <p class="my-0 ml-1 small_heading font-500">KY7  -051023 -001</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="my-0 ml-2 small_heading font-500 short_muted_light_text">01/11/24 - 01/11/24</p>
                    </div>
                </div>
            </div>
             <div class="white_pad mt-2 px-2">
                <div class="h-100 d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <div class="badgeCohort mr-1 green flex-column d-flex align-items-center justify-content-center">
                            <p class="title mb-0">B2</p>
                            <p class="text mb-0">Lvl-7</p>
                        </div>
                        <p class="my-0 ml-1 small_heading font-500">FL5  -021523 -007</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="my-0 ml-2 small_heading font-500 short_muted_light_text">01/11/24 - 01/11/24</p>
                    </div>
                </div>
            </div>
             <div class="white_pad mt-2 px-2">
                <div class="h-100 d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <div class="badgeCohort mr-1 green flex-column d-flex align-items-center justify-content-center">
                            <p class="title mb-0">B2</p>
                            <p class="text mb-0">Lvl-7</p>
                        </div>
                        <p class="my-0 ml-1 small_heading font-500">FL1  -011223 -001</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="my-0 ml-2 small_heading font-500 short_muted_light_text">01/11/24 - 01/11/24</p>
                    </div>
                </div>
            </div>
             <div class="white_pad mt-2 px-2">
                <div class="h-100 d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <div class="badgeCohort mr-1 green flex-column d-flex align-items-center justify-content-center">
                            <p class="title mb-0">B2</p>
                            <p class="text mb-0">Lvl-7</p>
                        </div>
                        <p class="my-0 ml-1 small_heading font-500">FL1  -011223 -001</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="my-0 ml-2 small_heading font-500 short_muted_light_text">01/11/24 - 01/11/24</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="col-lg-7 px-2">
        <div class="p-3 tab_box h-100">
            <div class="d-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs nav-fill w-100">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#mis_tab">Miscellaneous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#report_tab">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#adm_tab">Administration</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content mt-4">
                <div id="mis_tab" class="tab-pane fade show active">
                    <a href="" class="tab_link px-2 d-flex align-items-center">View all blog entries</a>
                    <a href="" class="tab_link px-2 d-flex align-items-center">Notes</a>
                    <a href="" class="tab_link px-2 d-flex align-items-center">My certificates</a>
                    <a href="" class="tab_link px-2 d-flex align-items-center">Forum Posts</a>
                    <a href="" class="tab_link px-2 d-flex align-items-center">Forum Discussions</a>
                    <a href="" class="tab_link px-2 d-flex align-items-center">Learning Plans</a>
                </div>
                <div id="report_tab" class="tab-pane fade">
                    <a href="" class="tab_link px-2 d-flex align-items-center">Today's logs</a>
                    <a href="" class="tab_link px-2 d-flex align-items-center">All logs</a>
                    <a href="" class="tab_link px-2 d-flex align-items-center">Outline reports</a>
                    <a href="" class="tab_link px-2 d-flex align-items-center">Complete report</a>
                    <a href="" class="tab_link px-2 d-flex align-items-center">Forum Discussions</a>
                    <a href="" class="tab_link px-2 d-flex align-items-center">Statistics</a>
                </div>
                <div id="adm_tab" class="tab-pane fade">
                    <a href="" class="tab_link px-2 d-flex align-items-center">Preferences</a>
                    <a href="" class="tab_link px-2 d-flex align-items-center">Login as</a>
                </div>
            </div>
        </div>
    </div>


</div>